<div class="auth-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-content select="h1"></ng-content>
    <mat-form-field class="form-field">
      <input matInput type="email" placeholder="Email address" formControlName="email">
      <mat-error *ngIf="emailFormat">Invalid email format</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput type="password" placeholder="Enter password" formControlName="password">
      <mat-error *ngIf="passwordInvalid">Password is required</mat-error>
    </mat-form-field>
    <ng-content select=".error"></ng-content>
    <div class="toggle">
      <ng-content select="a"></ng-content>
    </div>
    <div class="action">
      <ng-content select="button"></ng-content>
    </div>
  </form>
</div>
