.card {
  margin: 4rem auto;
  .card-button {
    font-size: 1.1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.01rem;
    color: #da4a53;
    padding: 10px 20px;
    border-radius: 5px;
  }
}
